.bg-header{
    background-color: #2C3E50ff;
}
.bg-mint{
    background-color: #1ABC9Cff;
}
.bg-yinmn-blue{
    background-color: #3A546Dff;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-color-charcoal{
    color: #2C3E50ff;
}
ul li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: white;
}
.col-12 img{
    height: 230px;
}
.col-12 button{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.border-radius{
    border-radius: 10px;
}
.border-radius-footer{
    border-radius: 45%;
}
footer a{
    text-decoration: none;
}